<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog21">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${level:uppercase=true:padding=5} | ${message}" />
      <target name="AsyncTextFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target xsi:type="File" fileName="picamcv.con.${shortdate}.log" layout="${longdate} |${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console,AsyncTextFile" />
    </rules>
  </nlog>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>

</configuration>
