

<div class="row" id="ngController" ng-controller="cameraController as vm">
    <div class="row">
        <div class="col-xs-12">
            <h2>hack</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-4">
                    <img ng-src="{{vm.imageUrl}}"/>
                    <span ng-hide="vm.imageUrl">Waiting...</span>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tabControl" role="tab" data-toggle="tab">Control</a></li>
                <li role="presentation"><a href="#tabLog" role="tab" data-toggle="tab">Remote Console</a></li>
                <li role="presentation"><a href="#tabSettings" role="tab" data-toggle="tab">Settings</a></li>
                <li role="presentation"><a href="#tabTracking" role="tab" data-toggle="tab">Tracking</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="tabLog">
                    <textarea rows="10" class="form-control" ng-model="vm.consoleScreen"></textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabSettings">
                   
                    <fieldset>
                        <legend>Camera to Server</legend>
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Enable Image Transmit</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-model="vm.piSettings.enableImageTransmit">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Enable Console Transmit</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-model="vm.piSettings.enableConsoleTransmit">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Transmit Image Every</label>
                                <div class="col-sm-4">
                                    <input id="modelValue" type="range" ng-model="vm.piSettings.transmitImageEveryMilliseconds" min="0" step="5"
                                           max="1000">
                                    <span>{{vm.piSettings.transmitImageEveryMilliseconds}}ms</span>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset>
                        <legend>Server to Browser
                        </legend>
                        <form class="form-horizontal">
                          
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Image via SignalR</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-model="vm.systemSettings.transmitImageViaSignalR">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">JPEG Compression</label>
                                <div class="col-sm-4">
                                    <input id="modelValue" type="range" ng-model="vm.systemSettings.jpegCompression" min="1" step="1"
                                           max="100">
                                    <span>{{vm.systemSettings.jpegCompression}}%</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="submit" class="btn btn-default" ng-click="vm.changeSettings()">Save</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabTracking">
                    <fieldset>
                        <legend>Colour Tracking</legend>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Show Colour Training Target</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-change="vm.changeSettings()" ng-model="vm.systemSettings.showRegionOfInterest">
                                </div>
                            </div>

                            <p class="bg-warning" ng-show="vm.systemSettings.showRegionOfInterest">Aim to fill the entire box with the target colour</p>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Target Size</label>
                                <div class="col-sm-4">
                                    <input id="modelValue" ng-change="vm.changeSettings()" type="range" ng-model="vm.systemSettings.regionOfInterestPercent" min="1" step="1"
                                           max="100">
                                    <span>{{vm.systemSettings.regionOfInterestPercent}}%</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="submit" class="btn btn-default" ng-click="vm.startColourTrack()">Train and Colour Track</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset>
                        <legend>Other</legend>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-12">
                                    <button type="submit" class="btn btn-default" ng-click="vm.startStatic()">Static</button>
                                    <button type="submit" class="btn btn-default" ng-click="vm.startAutonomousTrack()">Autonomous</button>
                                    <button type="submit" class="btn btn-default" ng-click="vm.startFaceTrack()">Face Track</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane active" id="tabControl">
                    <fieldset>
                        <legend>Relative</legend>

                        <div class="row">
                            <div class="col-xs-1 col-xs-offset-5">
                                <button type="button" class="btn btn-primary" ng-click="vm.up()"><span class="glyphicon glyphicon-arrow-up"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-xs-offset-4">
                                <button type="button" class="btn btn-primary" ng-click="vm.left()"><span class="glyphicon glyphicon-arrow-left"></span></button>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-primary" ng-click="vm.right()"><span class="glyphicon glyphicon-arrow-right"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-xs-offset-5">
                                <button type="button" class="btn btn-primary" ng-click="vm.down()"><span class="glyphicon glyphicon-arrow-down"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Scale</label>
                                <div class="col-sm-4">
                                    <input id="modelValue" type="range" ng-model="vm.moveRelativeScale" min="1" step="1"
                                           max="20">
                                    <span>{{vm.moveRelativeScale}}%</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Absolute</legend>
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Pan</label>
                                <div class="col-sm-4">
                                    <input id="modelValue"
                                           type="range"
                                           ng-model="vm.moveAbsoluteSetting.panPercent"
                                           min="1"
                                           step="1"
                                           ng-change="vm.moveAbsoluteChanged()"
                                           max="100">
                                    <span>{{vm.moveAbsoluteSetting.panPercent}}%</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tilt</label>
                                <div class="col-sm-4">
                                    <input id="modelValue" 
                                           type="range"
                                           ng-model="vm.moveAbsoluteSetting.tiltPercent"
                                           min="1"
                                           step="1"
                                           ng-change="vm.moveAbsoluteChanged()"
                                           max="100">
                                    <span>{{vm.moveAbsoluteSetting.tiltPercent}}%</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Immediate</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-model="vm.moveAbsoluteImmediately">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="submit" class="btn btn-primary" ng-click="vm.moveAbsolute()">Move</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset>
                        <legend>Danger</legend>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-12">
                                    <button type="submit" class="btn btn-warning" ng-click="vm.setPursuitLower()">Set Pursuit Lower</button>
                                    <button type="submit" class="btn btn-warning" ng-click="vm.setPursuitUpper()">Set Pursuit Upper</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}