

<div class="row" id="ngController" ng-controller="cameraController as vm">
    <div class="row">
        <div class="col-xs-12">
            <h2>hack</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-4">
                    <img ng-src="{{vm.imageUrl}}"/>
                    <span ng-hide="vm.imageUrl">Waiting...</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" ng-click="vm.up()">Up</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.down()">Down</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.left()">Left</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.right()">Right</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tabLog" aria-controls="home" role="tab" data-toggle="tab">Log</a></li>
                <li role="presentation"><a href="#tabSettings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                <li role="presentation"><a href="#control" aria-controls="control" role="tab" data-toggle="tab">Control</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabLog">
                    <textarea rows="10" class="form-control" ng-model="vm.consoleScreen"></textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabSettings">
                   
                    <fieldset>
                        <legend><h4>Camera to Server</h4></legend>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Send Image Every</label>
                                <div class="col-sm-4">
                                    @*<input type="text" class="form-control" ng-model="vm.systemSettings.transmitImageEveryMilliseconds">*@

                                    <input id="modelValue" type="range" ng-model="vm.systemSettings.transmitImageEveryMilliseconds" min="0" step="5"
                                           max="1000">
                                    <span>{{vm.systemSettings.transmitImageEveryMilliseconds}}ms</span>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset>
                        <legend>
                            <h4>Server to Browser</h4>
                        </legend>
                        <form class="form-horizontal">
                          
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Image via SignalR</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-model="vm.systemSettings.transmitImageViaSignalR">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">JPEG Compression</label>
                                <div class="col-sm-4">
                                    <input id="modelValue" type="range" ng-model="vm.systemSettings.jpegCompression" min="1" step="1"
                                           max="100">
                                    <span>{{vm.systemSettings.jpegCompression}}%</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="submit" class="btn btn-default" ng-click="vm.changeSettings()">Save</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane" id="control">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Show Colour Training Target</label>
                            <div class="col-sm-4">
                                <input type="checkbox" ng-change="vm.changeSettings()" ng-model="vm.systemSettings.showRegionOfInterest">
                            </div>
                        </div>

                        <p class="bg-warning" ng-show="vm.systemSettings.showRegionOfInterest">Aim to fill the entire box with the target colour</p>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Target Size</label>
                            <div class="col-sm-4">
                                <input id="modelValue" ng-change="vm.changeSettings()" type="range" ng-model="vm.systemSettings.regionOfInterestPercent" min="1" step="1"
                                       max="100">
                                <span>{{vm.systemSettings.regionOfInterestPercent}}%</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                <button type="submit" class="btn btn-default" ng-click="vm.startColourTrack()">Start Colour Track</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}