

<div class="row" id="ngController" ng-controller="cameraController as vm">
    <div class="row">
        <div class="col-xs-12">
            <h2>hack</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-4">
                    <img ng-src="{{vm.imageUrl}}"/>
                    <span ng-hide="vm.imageUrl">Waiting...</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" ng-click="vm.up()">Up</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.down()">Down</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.left()">Left</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.right()">Right</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tabLog" aria-controls="home" role="tab" data-toggle="tab">Log</a></li>
                <li role="presentation"><a href="#tabSettings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabLog">
                    <textarea rows="10" class="form-control" ng-model="vm.consoleScreen"></textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabSettings">
                    settings here
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>
            
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}